#plant {
  position: relative;
  animation: plant 7s ease-in-out infinite;
  animation-direction: alternate;
}

#tennis {
  position: relative;
  animation: tennis 6.5s ease-in-out infinite;
  animation-direction: alternate;
}

#map {
  position: relative;
  animation: map 6s ease-in-out infinite;
  animation-direction: alternate;
}

#book {
  position: relative;
  animation: book 5.5s ease-in-out infinite;
  animation-direction: alternate;
}

#code {
  position: relative;
  animation: code 4.5s ease-in-out infinite;
  animation-direction: alternate;
}

@keyframes plant {
  0% {
    opacity: 0;
    transform: translate(250px, 100px);
  }

  50% {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  100% {
    opacity: 0;
    transform: translate(250px, 100px);
  }
}

@keyframes tennis {
  0% {
    opacity: 0;
    transform: translate(300px, -200px);
  }

  50% {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  100% {
    opacity: 0;
    transform: translate(300px, -200px);
  }
}

@keyframes map {
  0% {
    opacity: 0;
    transform: translate(-220px, 300px);
  }

  50% {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  100% {
    opacity: 0;
    transform: translate(-220px, 300px);
  }
}

@keyframes book {
  0% {
    opacity: 0;
    transform: translate(-250px, -65px);
  }

  50% {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  100% {
    opacity: 0;
    transform: translate(-250px, -65px);
  }
}

@keyframes code {
  0% {
    opacity: 0;
    transform: translate(130px, 300px);
  }

  50% {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  100% {
    opacity: 0;
    transform: translate(130px, 300px);
  }
}
