@import "../styles/variables";
@import "../styles/homeImageEffect";

.home__content {
  width: 100vw;
  padding: 10px 20px;
  height: inherit;
}

.home__img--tablet,
.home__img--desktop {
  display: none;
}

.home__title {
  @include title;
}

.home__subtitle {
  @include subtitle;
  padding-left: 20px;
}

.home__viewWork-button {
  margin: 1.5rem auto;
  display: block;
  cursor: pointer;
}

@media all and (min-width: $bp__small) {
  .home__content {
    padding: 20px 30px;
  }

  .home__title {
    font-size: 1.7rem;
    padding: 0.9rem 0;
  }

  .home__subtitle {
    font-size: 1.4rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }

  .home__viewWork-button {
    margin: 2.1rem auto;
  }
}

@media all and (min-width: $bp__medium) {
  .home__content {
    padding: 20px 50px;
  }

  .home__img--tablet {
    display: block;
    margin: 2rem auto;
    width: 65%;
    height: auto;
  }

  .home__title {
    font-size: 2.3rem;
    padding: 10px 0;
    & > p > span {
      font-size: 2.8rem;
      padding: 0;
    }
  }

  .home__subtitle {
    font-size: 2rem;
    margin-left: 60px;
  }

  .home__viewWork-button {
    margin: 2.5rem auto;
    font-size: 1.1rem;
    width: 215px;
  }
}

@media all and (min-width: $bp__large) {
  .home {
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding: 10px 90px;
  }

  .home__content {
    width: 100%;
    height: min-content;
    margin: auto;
    padding: 0;
  }

  .home__img--tablet {
    display: none;
  }

  .home__img--desktop {
    display: inline-block;
    max-height: 600px;
    height: 50%;
    width: auto;
    margin: auto;
  }

  .home__title {
    font-size: 2rem;
    padding: 0;
    span {
      font-size: 2.3rem;
    }
  }

  .home__subtitle {
    font-size: 1.8rem;
    margin-left: 60px;
  }

  .home__viewWork-button {
    margin: 1.2rem;
    font-size: 1.2rem;
    height: 45px;
  }
}

// @media all and (min-width: $bp__xlarge) {

// }

@media all and (min-width: $bp__xxlarge) {
  .home {
    max-width: 1920px;
    margin: 0 auto;
  }
}
