@import '../shared/variables';

.about {
    display: block;
    width: 100vw;
    height: calc(100vh - 90px);
    align-content: center;
}

.about__content {
    padding: 10px 20px;
}

.about__code-caracters {
    font-family: $fontFamily2;
    color: $primaryColor2;
    padding: 0.4rem 0;

    &--html{
        display: none;
    }

    &--h2 {
        margin-left: 20px;
    }

    &--p {
        margin-left: 20px;
    }
}

.about__title,
.about__paragraph {
    color: $secondaryColor1;
}

.about__title {
    font-size: 1.5rem;
    margin-left: 30px;
}

.about__paragraph {
    color: $secondaryColor1;
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.6;
}

.about__download-button {
    margin: 1rem auto;
    display: block;
    font-size: 1rem;
}

@media all and (min-height: 569px){
    .about__content {
        padding: 20px 30px;
    }

    .about__code-caracters {
        padding: 0.8rem 0;
    }

    .about__title {
        font-size: 1.9rem;
    }

    .about__paragraph {
        font-size: 1.1rem;
        margin: 1rem 0;
    }
    
    .about__download-button {
        margin: 1.2rem auto;
    }   
}

@media all and (min-width: 768px){

    .home {
        display: grid;
        width: 100vw;
        height: calc(100vh - 130px);
        grid-template-columns: 35% 65%;
        align-content: center;
    }
    
    .home__content {
        padding: 50px 50px;
    }

    .home__img {
        display: inline-block;
        width: 100%;
        height: auto;
        position: relative;
        padding: 0px 50px;
        margin: auto;
    }

    .home__code-caracters {
        font-family: $fontFamily2;
        color: $primaryColor2;
        padding-left: 40px;
        padding: 1% 0;
    }

    .home__code-caracters--open-tag {
        padding-left: 0px;
        position: relative;
        top: 0;
    }

    .home__code-caracters--close-tag {
        position: relative;
        bottom: 0;
    }

    .home__title,
    .home__subtitle,
    .home__para {
        color: $secondaryColor1;
        padding-left: 70px;
    }

}