@import '../shared/variables';

body {
    overflow-x: hidden;
}

.about__img {
    display: none;
}

.about__content {
    width: 100vw;
    padding: 10px 20px;
    height: inherit;
}

.about__title {
    @include page-title;
}

.about__paragraph {
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1.6;
    margin: 0 30px;
}

.about__download-button {
    margin: 2rem auto;
    display: block;
}

@media all and (min-height: $breakpoint__mobile--height){
    .about__content {
        padding: 20px 30px;
    }

    .about__title {
        padding: 0.9rem 0;
    }
    
    .about__paragraph {
        font-size: 1.1rem;
        margin: 1rem 30px;
    }
    
    .about__download-button {
        margin: 1.2rem auto;
    }   
}

@media all and (min-width: $breakpoint__tablet){
    
    .about__content {
        padding: 20px 50px;
    }

    .about__title {
        font-size: 2.3rem;
    }

    .about__paragraph {
        margin-top: 4rem;
        margin-bottom: 4rem;
        line-height: 2;
    }

    .about__download-button {
        margin: 4rem auto;
        font-size: 1.2rem;
        width: 200px;
    }
}

@media all and (min-width: $breakpoint__desktop){
    
    .about {
        width: 100vw;
        display: grid;
        grid-template-columns: 35% 65%;
        justify-content: center;
    }

    .about__img {
        display: inline-block;
        width: 100%;
        height: auto;
        position: relative;
        padding: 0px 70px;
        margin: auto;
    }

    .about__content {
        width: 100%;
        height: 100%;
        padding: 10px 50px;
    }

    .about__title {
        font-size: 2rem;
        padding: 0;
    }

    .about__paragraph {
        margin: 0.2rem 30px;
        margin-left:60px;
        line-height: 2;
    }

    .about__download-button {
        margin: 1.2rem;
        font-size: 1.2rem;
        height: 45px;
    }
}
