@import '../shared/variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: $primaryColor1;
    font-family: $fontFamily1;
    font-weight: 400;
    font-size: 14px;
    color: $secondaryColor1;
}

.general__code-caracters {
    font-family: $fontFamily2;
    color: $primaryColor2;
    padding: 0.7rem 0;

    &--body {
        margin-left: 20px;
        position: relative;
        top: 0;
    }

    &--h1 {
        margin-left: 40px;
    }

    &--h3 {
        margin-left: 60px;
    }

    &--p {
        margin-left: 40px;
    }
}
