@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins&family=Ruluko&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100vw;
  background-color: #060642;
  min-height: 60px;
}

.header__logo {
  width: auto;
  height: 40px;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.header__logo:hover {
  cursor: pointer;
}

.header__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  width: 100vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 20px;
  background-color: #060642;
}

.header__list--hidden {
  display: none;
}

.header__burguerX-icon {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}

.header__burguerX-icon-img {
  height: 30px;
  width: auto;
}

.header__item {
  display: inline-block;
  color: #fff;
  content: '';
}

.header__item:hover {
  color: #49CBBF;
}

.header__item svg:active {
  fill: #49CBBF;
  content: 'About';
}

.header__icon-email--tooltip {
  display: none;
}

@media all and (min-height: 569px) {
  .header {
    min-height: 70px;
  }
  .header__logo {
    margin-left: 30px;
    margin-top: 20px;
  }
  .header__burguerX-icon {
    right: 30px;
    top: 25px;
  }
}

@media all and (min-width: 768px) {
  .header {
    min-height: 100px;
  }
  .header__logo {
    height: 60px;
    margin-left: 50px;
    margin-top: 20px;
  }
  .header__list--desktop {
    display: block;
    position: relative;
    width: unset;
    float: right;
    margin-top: 35px;
    margin-right: 50px;
    background-color: #060642;
  }
  .header__burguerX-icon {
    display: none;
  }
  .header__item {
    padding: 0 25px;
    vertical-align: middle;
    font-size: 1.2rem;
  }
  .header__icon-email {
    position: relative;
  }
  .header__icon-email--tooltip {
    visibility: hidden;
    width: 230px;
    background-color: #182524;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem 0.2rem;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -94%;
  }
  :hover > .header__icon-email--tooltip {
    visibility: visible;
    display: block;
  }
  .header__icon-email--tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #182524 transparent;
  }
  .header__icon-email--tooltip input {
    background-color: #182524;
    color: #182524;
    border: none;
    height: 0px;
  }
}

@media all and (min-width: 1280px) {
  .header__logo {
    height: 70px;
  }
  .header__item {
    padding: 0 35px;
    font-size: 1.5rem;
  }
  .header__item--icon svg {
    width: 40px;
    height: auto;
  }
  .header__icon-email--tooltip {
    left: 0%;
  }
  .header__icon-email--tooltip input {
    display: none;
  }
}

@media all and (min-width: 1440px) {
  .header {
    min-height: 120px;
  }
  .header__logo {
    height: 80px;
  }
  .header__item {
    padding: 0 45px;
  }
  .header__item--icon svg {
    width: 50px;
    height: auto;
  }
}
/*# sourceMappingURL=Header.css.map */