@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins&family=Ruluko&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0D0D49;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.general__code-caracters {
  font-family: "Courier Prime", monospace;
  color: #49CBBF;
  padding: 0.7rem 0;
}

.general__code-caracters--body {
  margin-left: 20px;
  position: relative;
  top: 0;
}

.general__code-caracters--h1 {
  margin-left: 40px;
}

.general__code-caracters--h3 {
  margin-left: 60px;
}

.general__code-caracters--p {
  margin-left: 40px;
}

@media all and (min-height: 569px) {
  .general__code-caracters {
    padding: 0.8rem 0;
  }
  .general__code-caracters--body {
    margin-left: 20px;
    position: relative;
    top: 0;
  }
  .general__code-caracters--h1 {
    margin-left: 40px;
  }
  .general__code-caracters--h3 {
    margin-left: 60px;
  }
  .general__code-caracters--p {
    margin-left: 40px;
  }
}

.home {
  width: 100vw;
  height: calc(100vh - 100px);
}

.home__content {
  height: 100%;
  padding: 0 20px;
}

.home__img,
.home__img--desktop {
  display: none;
}

.home__title {
  color: #fff;
  margin-left: 50px;
  font-weight: 400;
  font-size: 1.2rem;
}

@media all and (min-height: 569px) {
  .home__title {
    font-size: 1.6rem;
  }
}

.home__title span {
  font-size: 1.8rem;
}

.home__subtitle {
  color: #fff;
  margin-left: 50px;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 40px;
  font-size: 0.9rem;
}

@media all and (min-height: 569px) {
  .home__subtitle {
    font-size: 1.6rem;
  }
}

.home__contact-button {
  margin: 1rem auto;
  display: block;
}

.home__contact-button:active {
  background: #49CBBF;
}

@media all and (min-height: 569px) {
  .home__content {
    padding: 0 20px;
  }
  .home__code-caracters {
    padding: 1rem 0;
  }
}

@media all and (min-width: 768px) {
  .home__content {
    padding: 25px 50px;
  }
  .home__img {
    display: block;
    width: 45%;
    height: auto;
    margin: auto;
  }
  .home__code-caracters {
    padding: 1.5% 0;
  }
  .home__title {
    font-size: 2.3rem;
    margin-left: 60px;
  }
  .home__subtitle {
    font-size: 1.7rem;
    margin-left: 20px;
  }
  .home__contact-button {
    margin: 2rem 60px;
    font-size: 1.3rem;
    width: 200px;
  }
}

@media all and (min-width: 1024px) {
  .home {
    width: 100vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% 65%;
        grid-template-columns: 35% 65%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: calc(100vh - 130px);
  }
  .home__content {
    padding: 20px 50px 0 50px;
  }
  .home__img {
    display: none;
  }
  .home__img--desktop {
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
    padding: 0px 50px;
    margin: auto;
  }
  .home__code-caracters {
    font-family: "Courier Prime", monospace;
    color: #49CBBF;
    padding-left: 40px;
    padding: 1% 0;
  }
}
/*# sourceMappingURL=Home.css.map */