@import '../shared/variables';

body {
    background-color: $primaryColor1;
    font-size: 14px;
}

.home {
    display: block;
    width: 100vw;
    height: calc(100vh - 90px);
    align-content: center;
}

.home__content {
    padding: 40px 60px;
}

.home__img {
    display: none;
}

.home__code-caracters {
    font-family: $fontFamily2;
    color: $primaryColor2;
    padding: 0.3rem 0;
    margin-left: 20px;
}

.home__code-caracters--open-tag {
    margin-left: 5px;
    position: relative;
    top: 0;
}
.home__code-caracters--close-tag {
    margin-left: 5px;
    position: relative;
    bottom: 0;
}
.home__code-caracters--a {
    margin-left: 50px;
}

.home__title,
.home__subtitle,
.home__para,
.home__resume {
    color: $secondaryColor1;
    font-size: 1.2rem;
    padding-left: 50px;
}

.home__resume {
    padding-left: 100px;
}


@media all and (min-width: 768px){

    .home {
        display: grid;
        width: 100vw;
        height: calc(100vh - 130px);
        grid-template-columns: 35% 65%;
        align-content: center;
    }
    
    .home__content {
        padding: 50px 50px;
    }

    .home__img {
        display: inline-block;
        width: 100%;
        height: auto;
        position: relative;
        padding: 0px 50px;
        margin: auto;
    }

    .home__code-caracters {
        font-family: $fontFamily2;
        color: $primaryColor2;
        padding-left: 40px;
        padding: 1% 0;
    }

    .home__code-caracters--open-tag {
        padding-left: 0px;
        position: relative;
        top: 0;
    }

    .home__code-caracters--close-tag {
        position: relative;
        bottom: 0;
    }

    .home__title,
    .home__subtitle,
    .home__para {
        color: $secondaryColor1;
        padding-left: 70px;
    }

}