@import '../shared/variables';

.projectPage__content {
    width: 100vw;
    padding: 10px 20px;
    height: inherit;
}

.projectPage__title {
    @include title
}

.projectPage__img {
    width: 85%;
    margin: 1rem auto;
    display: block;
}

.projectPage__icons {
    cursor: pointer;
    :hover {
        fill: $secondaryColor3;
    }

    display: flex;
    margin: 0.6rem auto;
    width: 150px;
    justify-content: space-around;
}

.projectPage__descriptions {
    width: 85%;
    margin: auto;

    &--paragraph {
        font-size: 0.8rem;
        text-align: justify;
        line-height: 1.6;
        margin: 1.2rem auto;
    }
    
    &--tools {
        margin-top: 1rem;
        text-align: center;
    }

    &--list {
        list-style-type: none;
        text-align: center;
        font-size: 1.2rem;
        cursor: pointer;
    }

    &--items {
        position: relative;
        display: inline-block;
        padding: 0.2rem 0.5rem;
    }
}

.projectPage__goBack {
    margin: 1.5rem auto;
    display: block;
    cursor: pointer;
}

@media all and (min-width: $breakpoint__tablet){
    .projectPage__content {
        padding: 20px 50px;
    }

    .projectPage__title {
        padding: 0.9rem 0;
        font-size: 2.3rem;
    }

    .projectPage__img {
        width: 65%;
    }

    .projectPage_icons {
        width: 200px;
    }

    .projectPage__descriptions {
        width: 85%;
        margin: auto;
    
        &--paragraph {
            font-size: 1.1rem;
        }
        
        &--tools {
           font-size: 1.5rem;
        }
    
        &--list {
            font-size: 1.5rem;
        }
    
        &--items {
            padding: 0.5rem 1.5rem;
        }
    }

    .projectPage__goBack {
        font-size: 1.2rem;
    }
}


@media all and (min-width: $breakpoint__desktop){
    .projectPage__wrapper {
        display: flex;
    }

    .projectPage__img {
        width: 90%;
    }



    .projectPage__goBack {
        margin: 2.5rem auto;
    }
}

